.venv

.env
config.py
pytest.ini


media/accommodations/*

**/__pycache__/
htmlcov
.coverage


properties/migrations/*
!properties/migrations/__init__.py



start_the_project.txt
# errors_and_solutions.txt